@{
    ViewData["Title"] = "Home Page";
}
    <style>
        .container2 {
            font-family: Arial, sans-serif;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            justify-content:center;
        }

        .section {
            flex-basis: 48%;
            margin-left:10px;
        }

        .highlight {
            color: #007BFF; /* Mavi renk tonu */
        }

        .link {
            color: #007BFF;
            text-decoration: none;
        }

            .link:hover {
                text-decoration: underline;
            }

        h1 {
            font-size: 2.5em;
            margin-bottom: 0.5em;
        }

        p {
            font-size: 1em;
            line-height: 1.6;
        }
    </style>
<body>
    <div class="container2">
        <div class="section">
            <div><h1 style="font-size:30px;font-weight:800" class="section-main-title">NEDEN DEKO?</h1></div>

            <h2 style="font-weight:700;font-size:34px;text-transform:uppercase" class="section-main-title">PROJE DİZAYN UZMANLIĞI</h2>
            <p>Eğitimlerimiz İstanbul Beşiktaş'ta tam donanımlı bilgisayarlar ile verilmektedir.</p>
        </div>
        <div class="section">
            <p>2009 yılından beri BIM teknolojileri alanında faaliyet gösteren Deko Aynı zamanda Türkiye'de Autodesk Revit ile projeler üreten ilk ekiptir.</p>
            <p>1.500.000 m2 olan ve dünyanın en büyük havaliimanlarından olan İstanbul 3. Havalimanı ve buna benzer bir çok prestijli projeleri tamamlamıştır. Bim-Revit ile bu güne kadar dev projelerde dahl olmak üzere 10.000.000 m2 nin üzerinde proje dizaynı tamamlamıştır.</p>
            <p>Ana işlerinden birisi proje ve danışmanlık hizmetleri olan Deko Şu anda çok ciddi proje dizaynı işleri, Bim-Revit eğitimleri, proje ve inşaat firmalarına da danışmanlık hizmetleri vermektedir.</p>
            <p>Daha Detaylı bilgi için lütfen web sitemizi ziyaret ediniz: <a href="http://www.dekogroup.com.tr" class="link">www.dekogroup.com.tr</a></p>
        </div>
    </div>
</body>
</html>

